.main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fade-in-div {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.book-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d7ebf6;
    flex:1;
}

img {
    height: 100%
}

.box-right {
    background-color: #cfcfcf;
    color: #250e0e;
    flex: 2;
    font-family: 'georgia-italic', sans-serif;
    font-style: italic;
    text-align: center;
    padding: 3%;
    /* margin-left: 1em; */
}

.book-title {
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
}

.author {
    margin-right: 0.8em;
}

.google-btn,
.save-btn,
.delete-btn {
    line-height: 35px;
    box-shadow: none;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    border: 2px solid #250e0e;
    color: #250e0e;
    margin: 1%;
    
}

.google-btn {
    left: 25%;
}

.google-btn:hover,
.save-btn:hover, 
.delete-btn:hover
 {
    background-color: #FBFCFC;
}

@media screen and (max-width: 640px) {
    .box-left,
    .box-right {
        flex-basis: 100%
    }
}





